@font-face {
    font-family: 'Boost Next';
    src: url('BoostNext-Heavy.woff2') format('woff2'),
        url('BoostNext-Heavy.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Boost Next';
    src: url('BoostNext-Light.woff2') format('woff2'),
        url('BoostNext-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Boost Next';
    src: url('BoostNext-Thin.woff2') format('woff2'),
        url('BoostNext-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Boost Next';
    src: url('BoostNext-Black.woff2') format('woff2'),
        url('BoostNext-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Boost Next';
    src: url('BoostNext-Regular.woff2') format('woff2'),
        url('BoostNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Boost Next';
    src: url('BoostNext-Bold.woff2') format('woff2'),
        url('BoostNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

