@font-face {
    font-family: 'Sprint Sans';
    src: url('SprintSans-LightItalic.woff2') format('woff2'),
        url('SprintSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sprint Sans';
    src: url('SprintSans-Light.woff2') format('woff2'),
        url('SprintSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

